.HeaderWeather{
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.05);
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    align-items: center;
}

.HeaderWeather p{
    text-transform: capitalize;
}

.icon{
    width: 30px;
    height: 30px;
}