.weather-top-extended {
  display: flex;
  font-size: 0.8em;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

div div p span{
  text-decoration: solid;
  font-weight: 500;
}