.App {
  margin: 20px;
}

/* ANIMATIONS */

@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

.scale-up-top {
  -webkit-animation: scale-up-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.img-sunny-day {
  background-image: url("../public/bg-images/01d.jpg");
}

.img-sunny-night{
  background-image: url("../public/bg-images/01n.jpg");
  color: rgba(245, 245, 245, 0.733);
}

.img-scattered-day {
  background-image: url("../public/bg-images/02d.jpg");
}

.img-scattered-night{
  background-image: url("../public/bg-images/02n.jpg");
  color: rgba(245, 245, 245, 0.733);
}

.img-few-day {
  background-image: url("../public/bg-images/03d.jpg");
}

.img-few-night {
  background-image: url("../public/bg-images/03n.jpg");
  color: rgba(245, 245, 245, 0.733);
}

